# @file Prevents sensitive or unwanted files from being committed to source control.
# @author Riley Barabash <riley@rileybarabash.com>
#
# @tags
# - #config
# - #git
# - #version-control
#
# @see [Ignoring Files](https://help.github.com/articles/ignoring-files)

# Committing .env files to git is bad practice and not recommended. Only commit a env.example file.
# @see [Using Environment Variables](https://create.t3.gg/en/usage/env-variables#using-environment-variables)

.env
.env*.local
.vercel

# Dependencies.

.pnp
.pnp.js
node_modules

# Debug.

.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing.

*.test.ts
coverage

# Build.

.next
*.tsbuildinfo
build
dist
next-env.d.ts
out

# Miscellaneous.

.DS_Store
*.pem

# Temporary.

examples
templating